html {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
body {
	background-color: #Fafafa;
}
.header {
	padding: 50px 5%;
	display: flex;
	justify-content: center;
}
.header img {
	width: 125px;
	height: auto;
}
.h1 {
	font-size: 3em;
	font-weight: bold;
}
.list-header {
	font-size: 1.2em;
	text-decoration: underline;
}
.fa-link {
	padding-right: 10px;
}

.directory {
	padding: 0 20%;
}
.list {
	list-style-type: none;
}
.list li {
	margin: 5px 0;
}
.list li a {
	text-decoration: none;
	color: black;
}
.list li a:hover {
	border-bottom: solid 2px black;
}